/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}
body{
    height: auto;
    background: #0A0A0A !important;
}

/**scroll top**/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px; /* Use right or left as preferred */
  width: 60px;
  height: 60px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#myBtn:hover {
  background-color: #0B6BFF;
  color: #000;
}

#myBtn i {
  font-size: 28px;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  pointer-events: none; /* ensures icon doesn’t interfere with button click */
}


/*.navbar{
    height: 5rem;
    padding: 0rem 16.5rem;
    background: transparent;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}*/

.cursor-follower {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transition:
    width 0.2s ease,
    height 0.2s ease,
    background-color 0.2s ease,
    opacity 0.2s ease,
    transform 0.05s ease;
  background-color: white; /* initial color */
  opacity: 1;
}
.cursor-follower.active {
  width: 50px;
  height: 50px;
  opacity: 0.5;
}
/*.cursor-follower.active {
  width: 50px;
  height: 50px;
  background-color: #64A7D5;
}*/


.navbar-nav .nav-item {
    margin-right: 1.88rem;
    color: #FFFFFF;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* Glassmorphism Transparent Navbar */
.navbar.transparent {
    height: 5rem;
    padding: 0rem 16.5rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /*border-bottom: 1px solid rgba(255, 255, 255, 0.2);*/
    transition: background-color 0.3s, color 0.3s;
    border-bottom: none;
}

.navbar.transparent .nav-link,
.navbar.transparent .order-button-nav {
    color: #ffffff !important;
}

/* Solid white background navbar */
.navbar.white-bg {
    background-color: #ffffff !important;
    transition: background-color 0.3s, color 0.3s;
    border-bottom: 1px solid hsla(0, 0%, 67%, .25);;
}

.navbar.white-bg .nav-link,
.navbar.white-bg {
    color: #000000 !important;

}

.navbar.white-bg:hover .nav-link:hover,
.navbar.white-bg:hover {
    color: #0B6BFF !important;

}


.navbar-nav .nav-item:last-child {
  margin-right: 0; /* Remove margin after the last item */
}

.nav-link{
    color: #ffffff !important;
}

.nav-link:hover{
    color: #0B6BFF !important;
}


.logo{
    width: 5.79544rem;
    height: 3.375rem;
    flex-shrink: 0;
    aspect-ratio: 92.73/54.00;
}
.logo {
  width: 5.79544rem;
  height: 3.375rem;
  flex-shrink: 0;
  aspect-ratio: 92.73/54.00;
}

.logo-colored,
.logo-white {
  transition: opacity 0.3s ease;
}


.btn.order-button-nav{
    min-width: 7.4375rem;
    padding: 0.875rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.5rem;
    background: #0B6BFF;
    color: #FFF;
    text-align: center;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.btn.order-button-nav:hover{
    background: #0B6BFF;
    color: #FFF;
}



/**Hero Section**/

.card.hero-card{
    height: 100vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.00) 28.27%), linear-gradient(90deg, #00324E 0%, #000B11 100%);
}

.card-img-overlay {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card.hero-head-card{
    background: transparent;
    max-width: 45.5rem;
    border: none;
    margin-left: 17rem;
}

@media (max-width: 432px){
    .card.hero-head-card{
    margin-left: 1rem;
    margin-top: 0rem !important;
}
}

.hero-card-title{
    color: #FFF;
    font-size: clamp(2.25rem, -0.1157rem + 4.1322vw, 3.5rem);
    /*font-size: 3.5rem;*/
    font-style: normal;
    font-weight: 400;
    line-height: 4.5rem;
    letter-spacing: -0.07rem;
    cursor: default;
    max-width: 37.25rem;
}

@media (max-width: 432px){
    .hero-card-title{
        line-height: 2.5rem;
    }
}

.hero-card-subtitle{
    color: #FFF;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
    margin-bottom: 2rem;
    cursor: default;
}

.button-group {
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
    margin-top: 1rem;
}

.btn.order-button, .btn.enquiry-button{
    display: flex;
    min-width: 9.05438rem;
    padding: 1.06519rem 1.82606rem;
    justify-content: center;
    align-items: center;
    gap: 0.76088rem;
    border-radius: 0.60869rem;
    text-align: center;
    font-size: 1.06519rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #ffffff;
}

.btn.order-button{
    background: #0B6BFF;
}
.btn.order-button:hover{
    background: #0B6BFF;
}

.btn.enquiry-button{
    border: 2px solid #FFF;
    background: none;
}
.btn.enquiry-button:hover{
    border: 2px solid #FFF;
    background: none;
}



.swiper-wrapper {
  transition-timing-function: linear !important;
}

.swiper {
  max-height: 100vh;
  width: 23.8rem;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.swiper-slide img {
  height: 16.2rem;
  width: 23.8rem;
  object-fit: cover;
  display: block;
  border-radius: 0.75rem;
}
/*.swiper-slide img {
  width: 100%;
  height: 16.3rem;
  width: 23.8rem;
  border-radius: 0.75rem;
}*/

.card.trust-card{
    border: none !important;
    border-radius: 0 !important;
    padding: 7.5rem 0 7.5rem 0;
}



.trust-title{
    color: #161616;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4.5rem;
    letter-spacing: -0.07rem;
    margin-bottom: 3.5rem;
    cursor: default;
}

.card.trust-card-in{
    border: none !important;
    border-radius: 0 !important;
}

.trust-title-1{
    color: #003057;
    leading-trim: both;
    text-edge: cap;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.05625rem;
    cursor: default;
}
.trust-subtitle{
    color: #161616;
    leading-trim: both;
    text-edge: cap;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem; /* 175% */
    letter-spacing: 0.0025rem;
    cursor: default;
}

@media (min-width: 768px) {
  .border-dashed-start {
    border-left: 1px dashed #aaa;
    padding-left: 1rem;
  }
}

@media (max-width: 432px) {
    .card-body-1{
        margin: 0 1.25rem 0 1.25rem !important;
    }
}

@media (max-width: 432px) {
    .why-row{
        margin-bottom: 1rem !important;
    }
}




.card.solution-card{
    border: none !important;
    border-radius: 0 !important;
    background: #0B6BFF;
    padding: 7.5rem 0;
}

.solution-title{
    color: #FFF;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4.5rem; /* 128.571% */
    letter-spacing: -0.07rem;
    cursor: default;
}

.learn-link{
    color: #FFF;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.025rem;
    text-decoration: none;
}
.learn-link:hover{
    color: #FFF;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.025rem;
}

.card.solution-card-1{
    border-radius: 0.5rem;
    border: none !important;
    background: transparent !important;

}

.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
  height: 15rem;
  margin-bottom: 1.25rem;
}

.solution-title-1{
    color: #FFF;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: default;
    margin-bottom: 0.5rem;
}
.solution-title-2{
    color: #FFF;
    font-size: 0.875rem;
    font-style: italic;
    font-weight: 400;
    line-height: 140%; /* 1.225rem */
    cursor: default;
    margin-bottom: 0.75rem;
}
.solution-title-3{
    color: #FFF;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 1.225rem */
    cursor: default;
}

.card.about-1-card{
    border: none !important;
    border-radius: 0 !important;
}

.bg-cover-about-1{
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 0.5rem;
      height: 19rem;
      margin-bottom: 1.25rem;
}
.about-1-title{
    color: #161616;
    leading-trim: both;
    text-edge: cap;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.00188rem;
    margin-bottom: 2.44rem;
    cursor: default;
}

.about-2-title{
    color: #161616;
    leading-trim: both;
    text-edge: cap;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem; /* 125% */
    letter-spacing: -0.03rem;
    margin-bottom: 3.25rem;
    cursor: default;
}
.about-3-title{
    overflow: hidden;
    color: #161616;
    leading-trim: both;
    text-edge: cap;
    text-overflow: ellipsis;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem; /* 162.5% */
    letter-spacing: 0.0025rem;
    cursor: default;
}

.learn-more{
   color: #FFF;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.02rem;
    text-decoration: none;
    background: transparent;
    border: none;
}
.learn-more:hover{
    color: #FFF;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.02rem;
}

.card.why-card{
    border: none !important;
    border-radius: 0 !important;
    background: #F3F3F3;
    padding: 7.5rem 0;
}
.why-title{
    color: #161616;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4.5rem; /* 128.571% */
    letter-spacing: -0.07rem;
    cursor: default;
    margin-bottom: 3.5rem;
}

.card.why-card-1{
    border: none !important;
    border-radis: 0 !important;
    background: transparent;
}

.why-icon{
    width: 3.5rem;
    height: 3.5rem;
    margin-bottom: 1.25rem;
}

.why-title-1{
    color: #161616;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: default;
    margin-bottom: 0.5rem;
}
.why-title-2{
    color: rgba(22, 22, 22, 0.80);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 1.225rem */
    cursor: default;
    max-width: 20.875rem;
}

.process-title{
    color: #003057;
    text-align: center;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4.5rem; /* 128.571% */
    letter-spacing: -0.07rem;
    cursor: default;
    margin-bottom: 5.25rem;
}
.faq-title{
    color: #FFF;
    text-align: center;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 3.25rem */
    cursor: default;
    max-width: 30.125rem;
}

.accordion{
    margin-bottom: 3.5rem;
}

.accordion-item {
    background-color: transparent !important;
    border: 0.5px solid rgba(255, 255, 255, 0.40) !important;
    border-radius: 0.75rem !important;
    margin-bottom: 1rem;
}

.accordion-button {
    background-color: transparent !important;
    color: #FFF !important;
    font-weight: 500;
    box-shadow: none !important;
    border-radius: 0.75rem !important;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 1.25rem !important;
}
.accordion-button::after {
      content: '+';
      font-size: 1.2rem;
      color: white;
      transform: none !important;
      background-image: none !important;
      display: flex;
  align-items: center;
  justify-content: center;
}
.accordion-button.collapsed::after {
  content: '+';
}
.accordion-button:not(.collapsed)::after {
  content: '–';
}
.accordion-body {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
}

.transition-expand {
    transition: max-height 10.5s ease-in-out, opacity 0.5s ease-in-out;
    overflow: hidden;
}

.faq-wrapper {
    overflow: hidden;
    transition: max-height 0.6s ease-in-out, padding 0.3s ease-in-out;
    max-height: 1000px;
}

/* Expanded state will have more room */
.faq-wrapper.expanded {
    max-height: 5000px;
}


.card.newsletter-card{
    padding: 5rem 0;
    border: none !important;
    border-radius: 0 !important;
}

.card-body.newsletter-body{
    border-radius: 0.5rem;
    background: #0D194A;
    padding: 2.5rem 5rem !important;
}

.news-bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
  max-width: 32.33331rem;
    height: 24.25rem;
}

.card.card-news{
    background: transparent !important;
    border: none !important;

}

.news-title{
    color:  #FFF;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 1.25rem;
    cursor: default;
}
.news-title-1{
    color: #FFFFFF;
font-size: 1.25rem;
font-style: normal;
font-weight: 400;
line-height: 1.875rem; /* 150% */
margin-bottom: 2rem;
cursor: default;
}

.btn.launch-button{
    border-radius: 0.5rem;
    border: 1px solid #FFF ;
    display: flex;
    min-width: 7.4375rem;
    padding: 0.875rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    color: #FFF;
}

.btn.pricing-link{
    border-bottom: 2px solid #FFF;
    display: flex;
    padding-bottom: 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0 !important;
    color: #FFF;
}
.btn.pricing-link:hover{
    border-bottom: 2px solid #FFF;
    display: flex;
    padding-bottom: 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0 !important;
    color: #FFF;
}

footer{
    background: #fff;
}

.card.footer-card{
    border: none !important;
    border-radius: 0 !important;
    margin: 0 !important;
    padding: 5rem 0;

}

.card.element-card{
    border: none !important;
    border-radius: 0 !important;
}

.footer-logo{
    width: 6.01013rem;
    height: 3.5rem;
    aspect-ratio: 96.16/56.00;
    margin-bottom: 3.5rem;
}

.nav-head{
    color: #101010;
    font-size: var(--sds-typography-body-size-medium);
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 1.4rem */
}



.hr-line {
  border: none;
  height: 1px;
  background-color: #ccc; /* You can change the color */
}

.footer-link {
    display: flex;
    align-items: flex-start; /* or center if you want full vertical alignment */
    gap: 0.5rem;
    margin-bottom: 1rem; /* optional: remove extra spacing */
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 1.4rem */
    text-decoration: none;
}

.footer-contact {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
}

.social-links{
    text-decoration: none;
}
/**timeline**/

.process-wrapper {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 5rem auto;
  padding: 0 2rem;
}

.timeline-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  background: #e0e0e0;
  transform: translateX(-50%);
  z-index: 0;
}

.timeline-indicator {
  position: absolute;
  left: 50%;
  width: 20px;
  height: 20px;
  background: #2f80ed;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: top 1s ease;
  /*box-shadow: 0 0 10px rgba(47, 128, 237, 0.4);*/
}

.timeline-indicator::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 40px;
  width: 40px;
  background: rgba(0, 123, 255, 0.8);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: pulseRing 1s infinite ease-out;
  z-index: -1;
}

@keyframes pulseRing {
  0% {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.6;
  }
  70% {
    transform: translate(-50%, -50%) scale(1.4);
    opacity: 0.2;
  }
  100% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}

.timeline-step {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4.8rem 0;
  position: relative;
  z-index: 1;
}

.left-step,
.right-step {
  width: 45%;
  min-height: 100px;
}

.left-step {
  text-align: right;
  padding-right: 1rem;
}

.right-step {
  text-align: left;
  padding-left: 1rem;
}
.timeline-dot {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: white;
  border: 2px solid #2f80ed;
  border-radius: 50%;
  z-index: 1;
}

.process-head-1{
    max-width: 25rem;
    color: #161616;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.process-head-2{
    max-width: 25rem;
    color: #3F444B;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 1.225rem */
}

