<div class="hr-line"></div>
<footer>
    <div class="container p-0">
        <div class="card footer-card">
            <div class="card-body p-0">
                <div class="row row-cols-1 row-cols-md-4 g-2">
                    <div class="col">
                        <div class="card element-card" style="max-width: 16.75rem;">
                          <img src="static/images/vgds-logo-2.png" class="footer-logo" alt="...">
                          <div class="card-body">
                            <p class="card-text">
                                <img width="24" height="24" src="https://img.icons8.com/ios/50/twitterx--v2.png" alt="twitterx--v2"/>
                              <img width="24" height="24" src="https://img.icons8.com/ios/50/instagram-new.png" alt="instagram-new"/>
                                <img width="24" height="24" src="https://img.icons8.com/ios-glyphs/30/youtube-play.png" alt="youtube-play"/>
                                <img width="24" height="24" src="https://img.icons8.com/ios-glyphs/30/linkedin.png" alt="linkedin"/>
                            </p>
                          </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card element-card" style="max-width: 16.75rem;">
                          <div class="card-body">
                              <h5 class="nav-head">Our Solutions</h5>
                              <p class="footer-link">Presentation Design</p>
                              <p class="footer-link">Graphic Design</p>
                              <p class="footer-link">Dedicated Design Team</p>
                          </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card element-card" style="max-width: 16.75rem;">
                          <div class="card element-card" style="max-width: 16.75rem;">
                          <div class="card-body">
                              <h5 class="nav-head">Our Services</h5>
                              <p class="footer-link">Presentation Experts on Demand</p>
                              <p class="footer-link">Overnight Presentation</p>
                              <p class="footer-link">Dedicated Design Team Subscription</p>
                          </div>
                        </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card element-card" style="max-width: 16.75rem;">
                          <div class="card element-card" style="max-width: 16.75rem;">
                          <div class="card-body">
                              <p class="footer-link"><img class="footer-contact" src="static/icons/ic_baseline-email.svg">info@ourchroma.com</p>
                              <p class="footer-link"><img class="footer-contact" src="static/icons/basil_phone-solid.svg">+1-847 553 4440</p>
                              <p class="footer-link"><img class="footer-contact" src="static/icons/weui_location-filled.svg">870 E Higgins Rd | Suite 144 Schaumburg, Illinois, 60173</p>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
